{% extends './navbar.html' %}
{% load static %}

{% block title %}Baskin Robbins{% endblock %}

{% block content %}
<div class="bg-image">
    <video  autoplay muted loop>
        <source src="{% static 'br.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="text-overlay">
        <h1>Baskin Robbins Nepal</h1>
        <p>Is Here For Your Happiness</p>
        <button class="button">View Different Flavours</button>
        
    </div>
    <div class="social-media">
        <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
    </div>
    <div class="image-overlay">
        <img src="{% static 'icelogo.png' %}" alt="Ice Cream Logo">
    </div>

    
   
</div>

    
<div class="products-section" style="margin-top:50px">
    <h2>IceCreams</h2>
    <p style="color:#F05098;">best selling icecreams</p>

    <div class="products-grid">
        {% for product in products %}
        <a href=8">
        <div class="card">
            <div class="image">
                {% for image in product.images.all %}
                    {% if image.is_feature %}
                        
                            <img src="{{ image.image.url }}" alt="{{ product.title }} Featured Image">
                        
                    {% endif %}
                {% endfor %}
            </div>
            <span class="title">{{ product.title }}</span>
            <span class="price">RS {{ product.price }}</span>
        </div>
        {% endfor %}
    </div>
    <button class="cta-button">View all Flavours</button>
</div>
<div class="services-section">
    
    <div class="service-box">
        <img src="{% static 'brblue.jpg' %}" alt="Service Image" class="service-image">
        <div class="service-text">
            <h3>Cotton Candy</h3>
            <p>
                Baskin-Robbins Cotton Candy ice cream is a fan-favorite flavor that brings the nostalgic taste of classic carnival cotton candy into a creamy frozen treat. It features a swirl of pink and blue cotton candy-flavored ice cream, creating a fun, colorful, and sweet experience with every scoop.
            </p>
            <p>RS 500</p>
            <button class="cta-button">Add to Cart</button>
        </div>
    </div>
    <h2>Shop By Category</h2>
    <h7>variety of icecream available</h7>
    
    <div class="service-cards">
        <div class="cardd">
            <img src="{% static 'icea.jpg' %}" alt="Maintenance Image" class="card-image">
            <div class="overlay">
                <h4>Scoops</h4>
            </div>
        </div>
        <div class="cardd">
            <img src="{% static 'iceb.jpg' %}" alt="Maintenance Image" class="card-image">
            <div class="overlay">
                <h4>Bars</h4>
            </div>
        </div>
        <div class="cardd">
            <img src="{% static 'icec.jpg' %}" alt="Maintenance Image" class="card-image">
            <div class="overlay">
                <h4>cones</h4>
            </div>
        </div>
    </div>
    
    
</div>

<div class="work-section">
    <h2>Cafes</h2>
    <h3>Baskin Robbins City Mall Cafe<h3>
    <div class="projects-grid">
        
        <div class="project-card">
            <div class="image">
                
                    
                        
                            <img src="{% static 'bbmall.jpg' %}" alt="image">
                        
                    
                
            </div>
            
        </div>
        <p>BR Cafe is a cozy and vibrant space where indulgence meets relaxation. Known for its unique blend of premium coffees and world-renowned ice creams, BR Cafe offers a warm, inviting atmosphere perfect for friends, families, or a quiet solo retreat. </p>
        
    </div>
    <button class="cta-button">More Cafes</button>
</div>
<h2 style="text-align:center;">About Us</h2>
<div class="about-section">
    
    <div class="about-box">
        <div class="about-text">
            <h2>Baskin Robins</h2>
            <p>
                Baskin-Robbins Cotton Candy ice cream is a fan-favorite flavor that brings the nostalgic taste of classic carnival cotton candy into a creamy frozen treat. It features a swirl of pink and blue cotton candy-flavored ice cream, creating a fun, colorful, and sweet experience with every scoop.
            </p>
            
            <button class="cta-button">Add to Cart</button>
        </div>
        <img src="{% static 'bsabot.png' %}" alt="Service Image" class="about-image">
        
    </div>
    
    
    
</div>




<h6>Baskin </h6>
<h5> Robbins</h5>

{% endblock %}
