{% extends './navbar.html' %}
{% load static %}

{% block title %}Our Products{% endblock %}

{% block content %}
<div class="products-section" style="margin-top:50px">
    <h2>Our Products</h2>
    <div class="products-grid">
        {% for product in products %}
        <a href="{% url 'store:product_detail' product.id %}">
        <div class="card">
            <div class="image">
                {% for image in product.images.all %}
                    {% if image.is_feature %}
                        
                            <img src="{{ image.image.url }}" alt="{{ product.title }} Featured Image">
                        
                    {% endif %}
                {% endfor %}
            </div>
            <span class="title">{{ product.title }}</span>
            <span class="price">RS {{ product.price }}</span>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
