{% extends './navbar.html' %}
{% load static %}

{% block title %}Work{% endblock %}

{% block content %}
<div class="services-section" style ="margin-top:60px">
    <h2>Our Services</h2>
    <div class="service-box">
        <img src="{% static 'instal.jpg' %}" alt="Service Image" class="service-image">
        <div class="service-text">
            <h3>Services for CCTV Installment</h3>
            <p>
                Enhance your security with our professional CCTV services, tailored to your needs, ensuring a strong online presence.Enhance your security with our professional CCTV services, tailored to your needs, ensuring a strong online presence.
            </p>
            <button class="button">View our Services</button>
        </div>
    </div>
    
    <div class="service-cards">
        <div class="cardd">
            <img src="{% static 'inst.jpg' %}" alt="Maintenance Image" class="card-image">
            <div class="overlay">
                <h4>Installation</h4>
            </div>
        </div>
        <div class="cardd">
            <img src="{% static 'gin.jpg' %}" alt="Maintenance Image" class="card-image">
            <div class="overlay">
                <h4>Maintenance</h4>
            </div>
        </div>
        <div class="cardd">
            <img src="{% static 'moni.jpg' %}" alt="Maintenance Image" class="card-image">
            <div class="overlay">
                <h4>Support</h4>
            </div>
        </div>
    </div>
    
    
</div>
<div class="bg-image">
    <video controls autoplay muted loop>
        <source src="{% static 'camera1.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="text-overlay1">
        <h1>"Safety through surveillance."
            "Always watching, always protecting."</h1>
            <p>asjhdjashfjahf jfsjahfj asjfhasjf jasnfjasnfjasnfjansjfnajsbf</p>
            <button class="button">About us</button>
</div>
</div>

{% endblock %}
